<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
	<customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
	  <sessionState mode="InProc" timeout="180"></sessionState>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
 
  <system.webServer>
	  <rewrite>

		  <outboundRules>

			  <clear/>

			  <rule name="SessionCookieAddNoneHeader">

				  <match serverVariable="RESPONSE_Set-Cookie" pattern="(.*)(SameSite=.*)?"/>

				  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">

					  <add input="{HTTP_HOST}" pattern="localhost" negate="true"/>

				  </conditions>

				  <action type="Rewrite" value="{R:1}; SameSite=None; Secure"/>

			  </rule>

			  <preConditions>

				  <preCondition name="No SameSite">

					  <add input="{RESPONSE_Set_Cookie}" pattern="."/>

					  <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=Strict" negate="true"/>

				  </preCondition>

			  </preConditions>

		  </outboundRules>

	  </rewrite>
	  <defaultDocument enabled="true">
		  <files>
			  <add value="FirstPage.aspx" />
		  </files>
	  </defaultDocument>
  </system.webServer>
    
<connectionStrings>
  <add name="ExperimentDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ExperimentDB;Integrated Security=True"/>
<!--<add name="ExperimentDBConnection" connectionString="Data Source=WINDOWS-SERVER\SQLEXPRESS;Initial Catalog=ExperimentDB;Integrated Security=True"/>-->
</connectionStrings>

	<appSettings>
		<add key="NumTree" value="1"/>
		<!-- sandbox-->
		<add key="submitUrl" value="https://workersandbox.mturk.com/mturk/externalSubmit"/>		
		<!--production:-->
		<!--<add key="submitUrl" value="https://www.mturk.com/mturk/externalSubmit"/>-->

	</appSettings>
</configuration>